<div class="container mt-5">
  <div class="w-50 my-x mx-auto">
    <h2 class="text-center mb-4">Authentification</h2>
    <form class="form-horizontal" [formGroup]="form">
      <input type="text" class="form-control mb-3" value="" placeholder="email" formControlName="email">
      <input type="password" class="form-control" placeholder="password" formControlName="password">
      <div class="form-group my-3 mx-auto" style="width: fit-content;">
        <button type="submit" (click)="login()" class="btn btn-success mr-2" [disabled]="form.invalid">S'identifier </button>
        <button type="submit" (click)="register()" class="btn btn-primary" [disabled]="form.invalid">S'inscrire </button>
      </div>
    </form>

    <div class="alerts">
      <div *ngIf="success">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" (click)="success=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="error">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" (click)="error=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="submit">
      <div class="spinner-border text-primary d-block my-0 mx-auto" role="status"></div>
    </div>
  </div>
</div>
